<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
        <title>{{ title }}</title>
        <style>
            td{
                padding: 18px 0 0 2em;
                justify-content: start;
                align-items: start;
            }
        </style>
    </head>
    <body>
        <h2>Dieta semanal</h2>
        {{ meal }}
    </body>
</html>